/*********************PIE CHART************************/

.portfolio-modal .close-modal .lr {
  height: 35px;
  width: 1px;
  margin-left: 60px;
  
}
.portfolio-modal .close-modal .lr .rl {
  height: 35px;
  width: 1px;
 
}