/* Header */
.large-header {
	position: relative;
	background: #333;
	overflow: hidden;

}

.demo-2 .large-header {
	background-image: url('../img/demo-2-bg.jpg');
	background-position: center bottom;
		background-size: cover;
			width: 100%;


}
/*.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	border:2px solid red;
}*/



.demo-2 .main-title {
	font-family: 'Clicker Script', cursive;
	font-weight: normal;
	font-size: 8em;
	padding-left: 10px;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
	border:2px solid yellow;
}


.demo-3 .main-title {
	text-transform: uppercase;
	font-family: Londrina Outline, sans-serif;
	border:2px solid blue;
}




