body{
	background-color: #D5D5D5;
}



.calcBorder{
	/*margin-left:500px;*/
	/*margin-top:;*/
	margin: 60px auto;
	width:360px;
	/*background-color: lightblue;*/
	border-radius:8px;

}
#display{
	background-color: #C0D498;
	height: 120px;
}
table{
	width: 450px;
	height: 400px;
	box-shadow: 4px 6px 6px 3px;

}

#zero, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #dot{
	background-color: #0C0C0C;
	text-shadow: 0 1px 1px #D8D8D8;
}
#zero:hover, #one:hover, #two:hover, #three:hover, #four:hover, #five:hover, #six:hover, #seven:hover, #eight:hover, #nine:hover, #dot:hover{
	background-color: white;
	color: black;
	text-shadow: 0 2px 4px #D8D8D8;

}

#AC, #CE, #modulus, #divide, #multiply, #minus, #plus{
	background-color: #6E6E6E;
}
#AC:hover, #CE:hover, #modulus:hover, #divide:hover, #multiply:hover, #minus:hover, #plus:hover{
	background-color: black;
	color: white;
}
#minus, #plus{
	font-size: 30px;
}
#equals{
	background-color: #EFAF00;
	text-shadow: 0 1px 1px #D8D8D8;
	font-size: 30px;
}
#equals:hover{
	background-color: black;
	text-shadow: 0 1px 1px #D8D8D8;
	color: white;
}


th {
   	border-top: 25px solid #1C1C1C;
   	border-bottom: 27px solid #1C1C1C;
   	border-left: 25px solid #1C1C1C;
   	border-right: 25px solid #1C1C1C;
	text-align:right;
	padding-right:20px;
	height:110px;
	font-size:45px;
	font-family:cursive;
	/*box-shadow: 0px 0px 1px 8px black inset;
-moz-box-shadow:0px 0px 1px 8px black inset;
-webkit-box-shadow:0px 0px 1px 8px black inset;
-o-box-shadow:0px 0px 1px 8px black inset;	
*/

}
.bottomRow{
	border-bottom: 25px solid #1C1C1C;
}
td {
   	border-left: 15px solid #1C1C1C;
   	border-right: 15px solid #1C1C1C;
   	border-top: 10px solid #1C1C1C;
   	border-bottom: 15px solid #1C1C1C;
	width:84px;
	text-align:center;
	font-size:25px;
	font-family:cursive;
	font-style:bold;
	text-shadow: 0 0 1px #D8D8D8;	
	color: #F2F2F2;
}

td:hover{
	background-color:#FFBF00;
}
#AC, #one, #four, #seven, #zero{
	border-left: 25px solid #1C1C1C;
}
#divide, #multiply, #minus, #plus, #equals{
	border-right: 25px solid #1C1C1C;
}



tr{
	height:80px;;	
}




@media only screen and (max-width:920px){
	.calcBorder{

		width:100%;
		max-width: 100%;
		
	}
	table{
		width: 100%;
		height: 88%;
		max-width: 100%;
	}
}