#field{
	width: 550px;
	height: 350px;
	position: absolute;
	margin-top: -450px;
	margin-left: 420px;
	background-color: black;
	opacity: 0.6;
	border-radius: 2%;
}

#twitter{
    opacity: 1;
    margin-top: -189px;
    margin-left: 475px;
    position: absolute;
    border-radius: 4%;
}
#quote{
	width: 505px;
    height: 203px;
    position: absolute;
    margin-top: -427px;
    margin-left: 440px;
    border-radius: 2%;
        padding-top: 24px;
}
#quote > p{
	font-size: 25px;
	font-family: Raleway;
	font-weight: bold;
	color:white;
	text-align: center;
}
#next{
	    width: 90px;
    height: 40px;
    position: absolute;
    margin-top: -180px;
    margin-left: 821px;
    border-radius: 8%;
    background-color: #1D4F6D;
    opacity: 0.5;
    
}
#next > p{
	    color: white;
    font-style: Raleway;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-top: 5px;
   
}
#next:hover{
	opacity: 1;	
}
#title{
        position: absolute;
    margin-top: -666px;
    margin-left: 445px;
    font-size: 60px;
    font-weight: bold;
    color: white;
    font-family: Engagement;
}
#speaker{
	   width: 245px;
    height: 73px;
    position: absolute;
    margin-top: -276px;
    margin-left: 695px;
    border-radius: 2%;	
}
#speaker > p {
	font-size: 25px;
	font-style: Raleway;
	font-weight: bold;
	color:white;
	text-align: center;
}