
#gitIt{
	font-size: 60px;
	font-weight: bolder;
	text-align: center;
	margin-top: 1%;
	position: relative;
}

.data{
	width: 80%;
}
.details{
	width: 100%;
	margin: 0 auto;
}
#gitUsername{
	width:100%;
}

#sortBy{
	
	font-weight: bold;
}
.sort{
	padding-left: 22px;
	font-size: 20px;
	display:inline-block;
}
#names:hover, #location:hover, #follower:hover{
	font-weight: bolder; 
	cursor: pointer;
}

#nameAsc, #nameDesc, #locationAsc, #locationDesc, #followerAsc, #followerDesc{
	text-align: center;
	font-weight: bold;
}
